.home_gridPane{
    -fx-background-image: url("file:src/sample/login.jpg") no-repeat left center;
    -fx-background-size:cover;
}
.logout_button{
    -fx-color:red;
    /*设置圆角*/
    -fx-padding:20;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
}
.fj{
    -fx-color:red;
    /*设置圆角*/
    -fx-padding:20;
    -fx-background-radius: 90;
    -fx-border-radius: 90;
}