.home_gridPane{
    /*-fx-background-image: url("../img/backgroup.gif") no-repeat left center;
    -fx-background-size:cover;*/
}
.rw{
    -fx-background-image: url("../img/rw.png") no-repeat left center;
    -fx-background-size:cover;
    -fx-display:none;
}